# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
s1 = {i for i in range(1,11)}
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
s1.add(11)
s1.remove(1)
s1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [5]:
s1 = set()
s2 = set()
for i in range(1,11):
    if i % 2 == 0:
        s1.add(i)
    else:
        s2.add(i)

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
s1 = {i**2 for i in range(1,11)}
s1

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
s1 = {i for i in range(1,11)}
s2 = {i for i in s1 if i%2 == 0}
s2

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [8]:
s1 = {1, 2, 5, 2, 7, 3, 2, 3}
s1

{1, 2, 3, 5, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [9]:
s1 = {1,2,3,4,5}
s2 = {2,3,4}
print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

In [12]:
s1 = frozenset(s1)
s1

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [14]:
s1 = {i for i in range(1,6)}
li = list(s1)
li.append(6)
s1 = set(li)
print(s1)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [17]:
myd = {{1,2} : 3, {4,5} : 6, {7,8} : 9}
print(myd)

TypeError: unhashable type: 'set'

In [16]:
myd = {frozenset({1,2}) : 3, frozenset({4,5}) : 6, frozenset({7,8}) : 9}
print(myd)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [18]:
s1 = {i for i in range(1,11)}
for i in s1:
    print(i)

1
2
3
4
5
6
7
8
9
10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [25]:
s1 = {i for i in range(1,11)}
print(s1)
while s1 != set():
    s1.pop()
    print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [26]:
s1 = {1,2,3,4,5}
s2 = {6,7,8}

s1.update(s1.symmetric_difference(s2))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [31]:
s1 = {1, 2, 3, 5}
print(s1.issuperset({4}))
print(4 in s1)

False
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [32]:
s1 = {(1,2), (4,5), (7,8)}
print(s1)

{(4, 5), (1, 2), (7, 8)}