# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
tpl = tuple(i for i in range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
print(tpl[-1])
print(tpl[0])
print(tpl[len(tpl)//2])

10
1
6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [6]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:
mtx = (tuple(range(1,4)), tuple(range(4,7)), tuple(range(7,10)))
print(mtx[1])
print(mtx[0][2])
print(mtx[1][2])
print(mtx[2][2])

(4, 5, 6)
3
6
9

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [24]:
from collections import Counter
tuple1 = [1, 2, 4, 2, 3, 1, 3, 2]
# tuple1.count(2)
# tuple1.index(2)
mydict = Counter(tuple1)
print(mydict)

Counter({2: 3, 1: 2, 3: 2, 4: 1})

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [30]:
tpl1 = (10, 20, 30, 40, 50)
a, b, c, d, e = tpl1
print(a,b,c,d)

10 20 30 40

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [31]:
tpl1 = (10, 20,30, 40, 50)
li = list(tpl1)
print(li)

[10, 20, 30, 40, 50]

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [32]:
mtx = (tuple(range(1,4)), tuple(range(4,7)), tuple(range(7,10)))
for i in mtx:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [33]:
tpl1 = (1,2,3,4,5)
li = list(tpl1)
li.append(6)
tpl1 = tuple(li)
print(tpl1)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [35]:
tpl1 = tuple('shyam'.strip())
print(tpl1)

('s', 'h', 'y', 'a', 'm')

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [41]:
mydict = {(1,2,3) : 10, (4, 5, 6): 11, (7, 8, 9):12}
print(mydict)
mydict.get((1,2,3))

{(1, 2, 3): 10, (4, 5, 6): 11, (7, 8, 9): 12}

10

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [45]:
mtx = (tuple(range(1,4)), tuple(range(4,7)), tuple(range(7,10)))
for i in mtx:
    for j in i:
        print(j, end=' ')
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [46]:
tpl1 = (1,2,3,4,3,2,1)
set1 = set(tpl1)
print(set1)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [47]:
tpl1 = (1,2,3,6,3)
print(min(tpl1))
print(max(tpl1))
print(sum(tpl1))

1
6
15